<html ng-app="ifsp" class="ng-scope">
<head>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
</head>
<body class="container">
    <title>Autenticação do Usuário</title>
    <div class="jumbotron ng-scope">
        <img style="float:left;" src="img/Logo.jpg">
        <h1 class="text-center">Bem-vindo ao IFSP</h1>
        <h2 class="text-center">Autenticação do Usuário</h2>
    </div>
    <div>
        <a href="/auth/github">
            <h1 class="text-center">Entre pelo GitHub</h1>
        </a>
    </div>
</div>
</body>
</html>